* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.clearfix:after{
    content:"";
    display: table;
    clear: both;
}
.container{
    width: 1366px;
    margin: 0 auto;
    height: 5710px;
}
.padingsite{
    padding-left: 98px;
    padding-right:98px; 
}
.fon{
    height: 800px;
    background-image: url(img/fon.jpg);
    position: relative;
}
.menu-list{
    list-style-type: none;
    float: left;
}
.menu{
    float:right;
}
.header{
    padding-top: 63px;
}
.menu-link{
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 500;
    color: #8c8c8c;
    text-decoration: none;
    padding: 10px 13px;
}
.menu-link:hover{
    color: #212121;
}
.menu-link-activ{
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #212121;
    border-bottom: 3px solid#212121;
}
.fontext1{
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #43a047;
    margin-top: 250px;
}
.fontitlu{
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
}
.fontext2{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 485px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.botton{
    font-size: 18px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33,33,33,0.34);
    border-radius: 22.5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.botton img {
    width: 8px;
    height: 12px;
    padding-left: 23px;
}
.circlepage{
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;

}
.circle-active{
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0px;
}
.pages{
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
    
}
.circlepage:hover{
    background-color: #212121;
}
.header img{
    padding :10px 13px;
}