* {
    margin: 0;
    padding: 0;
}
/*PAGE home*/
body{
    font-family: 'Montserrat', sans-serif;
}
.clearfix:after{
    content:"";
    display: table;
    clear: both;
}
.container{
    width: 1366px;
    margin: 0 auto;
    height: 5710px;
}
.padingsite{
    padding-left: 98px;
    padding-right:98px; 
}
.fon{
    height: 800px;
    background-image: url(img/fon.jpg);
    position: relative;
}
.menu-list{
    list-style-type: none;
    float: left;
}
.menu{
    float:right;
}
.header{
    padding-top: 63px;
}
.menu-link{
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 500;
    color: #8c8c8c;
    text-decoration: none;
    padding: 10px 13px;
}
.menu-link:hover{
    color: #212121;
}
.menu-link-activ{
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #212121;
    border-bottom: 3px solid#212121;
}
.fontext1{
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #43a047;
    margin-top: 250px;
}
.fontitlu{
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
}
.fontext2{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 485px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.botton{
    font-size: 18px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33,33,33,0.34);
    border-radius: 22.5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.botton img {
    width: 8px;
    height: 12px;
    padding-left: 23px;
}
.circlepage{
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;

}
.circle-active{
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0px;
}
.pages{
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
    
}
.circlepage:hover{
    background-color: #212121;
}
.header img{
    padding :10px 13px;
}
/*PAGE 1*/
.pag1{
    width:1366px;
    height: 610px;
    float: left;
}
.pag1-titlu{
    margin-top: 120px;
    margin-left: 107px;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    border-bottom: 3px solid#212121;
    width: 187px;
    padding-left: 5px;
    
}
.pag1-titl2{
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;
    margin-left: 300px;
    margin-top: -44px;
    border-bottom: 1px solid #6c6c6c;
    width: 130px;
    text-align: center;
}
.pag1-botton{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    float: right;
    padding-right: 118px;
    margin-top: -20px;
    text-decoration: none;
}
.content-conteiner{
    width: 270px;
    height: 270px;
    opacity: 0.9;
    border: 1px solid #9c9c9c;
    margin-top: 50px;
    margin-left: 98px;
    margin-right: 5px;
    position: relative;
    float: left;
    margin-bottom: 120px;
}
.content-botton{
    width: 48px;
    height: 48px;
    background-color: #dad5d5;
    border-radius: 50%;
    position: absolute;
    margin-left: 110px;
    margin-top: 46px;
}
.content-botton img{
    padding-left: 20px;
    padding-top: 14px;
}
.content-h1{
    font-family: Montserrat;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    color: #212121;
    padding-top: 100px;
    text-align: center;
}
.content-p{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #6c6c6c;
    margin-bottom: 68px;
    padding-top: 16px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.imge{
    list-style-type: none;
    margin-top: 52px;
    margin-bottom: 120px;
    
}
.cont-img{
    float: left;
    padding-left: 26px;
}
/*PAGE 2*/
.pag2{
    width: 1366px;
    height: 683px;
    margin: 0px auto;
}
.pag2-contbox1-{
    width: 683px;
    height: 683px;
    background-image: url(img/pag2.png);
    display: inline-block;
    margin-bottom: 0px;
}
.pag2-titlu1{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    margin-top: 227px;
    padding-left: 51px;

}
.pag2-titlu2{
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    margin-bottom: 10px;
    padding-left: 51px;
}
.pag2-titlu3{
    font-family: Montserrat;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    padding-left: 51px;
    margin-bottom: 25px;
}
.pag2content-botton1{
    font-family: Montserrat;
    font-size: 18.1px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    width: 212px;
    height: 46px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33,33,33,0.34);
    border-radius: 22.5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-left: 51px;

}
.pag2content-botton1 img{
    padding-left: 15px;
}
.pag2-contbox2-{
    width: 683px;
    height: 683px;
    float: right;
    background-image: url(img/pag2:.png);
    margin-bottom: 0px;
}
.pag2-titlu-1{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    margin-top: 227px;
    padding-left:51px;

}
.pag2-titlu-2{
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    margin-bottom: 10px;
    padding-left: 51px;
}
.pag2-titlu-3{
    font-family: Montserrat;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    padding-left: 51px;
    margin-bottom: 25px;
}
.pag2content-botton2{
    font-family: Montserrat;
    font-size: 18.1px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    width: 212px;
    height: 46px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33,33,33,0.34);
    border-radius: 22.5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-left: 51px;

}
.pag2content-botton2 img{
    padding-left: 15px;
}
/*PAGE 3*/
.pag3{
    width:1366px;
    height: 1108;
    margin-left: 98px;
    margin-right: 98px;
    overflow: hidden;
    clear: both;
}
.pag3-titlu1{
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    margin-top: 119px;
    margin-bottom: 64px;
    
}
.pag3-botton{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    text-decoration: none;
    float: right;
    margin-right: 150px;
    margin-top: -85px;
    padding-right: 98px;
}
.pag3-botton img{
    padding-left: 15px;
}
.pag3-list{
    list-style-type: none;
    

}
.pag3-list-img{
    width: 370px;
    height: 370px;
    padding: 30px 30px;
    float: left;
    margin-top: -10px;
    margin-left: -32px;
}